@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: Martel Sans,Roboto;
    color: white;
}
body{
    background-color: black;
}

.topbox{
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/cacfadb7-c017-4318-85e4-7f46da1cae88/e43aa8b1-ea06-46a5-abe3-df13243e718d/IN-en-20240603-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-size: max(900px,100vw);
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    
}
.subbox{
    height: 80vh;
    width: 100%;
    background-color: black;
    opacity: 0.44;
    position: absolute;
    top: 0px;
    
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* height: 70px; */
    max-width: 80vw;
    margin: auto;
    position: relative;
    z-index: 1;
}

.left img{
    width: 9.25rem;
    height: 2.5rem;
    
}
.right :nth-child(1){
    background-color: black;
    border: solid rgb(187, 184, 184) 0.1px;
    color: white;
    padding: 5.25px 31.25px;
}
.right :nth-child(2){
    background-color: red;
    margin-left: 19px;
    color: white;
    padding: 3px 15px;
}
.content{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 1;
   
}
.p1{
    color: rgb(255, 255, 255);
    font-size: 42px;
    font-weight: bolder;
    width: 761px;
    text-wrap: nowrap;
    
}
.p2{
    color: rgb(255, 255, 255);
    font-size: 21px;
    width: 761px;
    text-align: center;
}
.p3{
    font-size: 21px;
    color: rgb(255, 255, 255);
}

.inputbutton{
    height: 50px;
    width: 300px;
    padding-left: 20px;

    font-size: 16px;
    background-color:black ;
    border-radius: 6px;
    border: solid rgb(148, 142, 142) 0.1px;
    
}
.inputbutton::placeholder{
    color: gray;
}
.getstbutton{
    height: 50px;
    width: 150px;
    font-size: 16px;
    font-weight: bolder;
    background-color: red;
    border-radius: 5px;
    color: white;
}
.getstbutton:hover{
    cursor: pointer;
    background-color: rgb(255, 43, 43);
}
.seperator{
    width: 100%;
    height: 10px;
    background-color: rgb(44, 44, 44);
    position: relative;
}
.firstfeature{
    height: 490.56px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 28px;
    
}
.firstinfo{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-left: 200px;
}

.firstinfo h2{
    color: white;
    font-size: 50px;
    
    
}
.h3{
    color: white;
    margin-top: 14px;

}
.firstvid{
    position: relative;

}
.firstvid img{
    position: relative;
    z-index: 5;
}
.align{
    position: absolute;
    top: 92px;
    left: 80px;
}
.img2{
    display: flex;
    position: relative;
    margin-left: 100px;
}
.img2_{
    width: 480px;
    height: 360px;

}
.imginfo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 20px;
    width: 313px;
    height: 85px;
    left: 80px;
    border: solid rgb(129, 129, 129) 3px;
    border-radius: 20px;
    background-color: black;
}
.innerflexleft img{
    height: 63px;
    width: 45px;
}
.title{
    width: 187px;
    height: 18px;
    color: white;
}
.downloading{
    color: #0071EB;
    width: 187px;
    height: 18px;
}

.innerflexright img{
    width: 42px;
    height: 52px;
}
.midsection1{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.middle1content h1{
    color: white;
    line-height: 49px;
    font-size: 42px;
    font-weight: bolder;
    margin-bottom: 12px;
    width: 480px;
}

.middle1content h3{
    color: white;
    width: 480px;
    font-size: 21px;
    text-wrap: nowrap;
}

.middle1content{
    margin-right: 200px;
}

.midsection2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.vid2 img{
    width: 580px;
    height: 460px;
    position: relative;
    z-index: 1;
}
.vid2{
    position: relative;
    margin-right: 100px;
}

.vid2_{
    position: absolute;
    top: 20px;
    left: 97px;
}
.vid2_ video{
    height: 300px;
    width: 380px;
}
.mid2content{
    margin-left: 240px;
}

.mid2content h1{
    width: 480px;
    font-size: 42px;
    color:white;
}

.mid2content h3{
    width: 480px;
    font-size: 21px;
    color:white;
}
.middlesection3{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.mid3content h1{
    color:white;
    line-height: 49px;
    font-size: 42px;
    width: 480px;
    margin-bottom: 14px;
}
.mid3content h3{
    color:white;
    
    font-size: 21px;
    width: 480px;
}
.img3{
    margin-left: 200px;
}
.mid3content{
    margin-right: 150px;
}
.qna{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.qna h1{
    font-size: 57px;
    width: 972px;
    text-align: center;
}
.q1{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(51, 49, 49);
    height: 78px;
    width: 972px;
    padding: 0 21px;
}
.box:hover{
    cursor: pointer;
    background-color: rgb(95, 92, 92);
}
.box p{
    font-size: 36px;
    width: 36px;
    font-weight: bolder;
}
.email{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 80px;
    
}
.enter p{
    font-weight: bolder;
    font-size: 17.5px;
}
.footer{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    gap: 15px;
    margin-right: 150px;
    
}
.services div{
  display: flex;
  justify-content: flex-start;
  width: 200px;
}
.services{
    display: flex;
    width: 800px;
    align-items: center;
    justify-content: space-between;
}
.mobno{
    display: flex;
    width: 800px;
    justify-content: flex-start;
    margin-bottom: 10px;
    margin-right: 150px;
}
.right1{
    display: flex;
    width: 950px;
    justify-content: left;
    margin-top: 15px;
    
}
.right1 button{
    background-color: black;
    color: white;
    padding: 5.25px 31.25px;
    border: solid rgb(187, 184, 184) 0.1px;
}

.trademark{
    display: flex;
    width: 950px;
    justify-content: left;
    margin-top: 15px;
}

.services div p,.mobno p{
    font-size: 14px;
    height: 17px;
    color: #FFFFFFB3;
    border-bottom: solid #FFFFFFB3 0.01px;
}

.services div p:hover,.mobno p:hover{
    color: white;
    cursor: pointer;
}
.trademark p{
    font-size: 14px;
    color: #FFFFFFB3;
}